<!-- Starts up everything needed to run the example listener/talker Python nodes. -->
<launch>
  <!-- Arguments to allow changing common parameters from the command line or when including this file from other launch files. -->
  <arg name="rate" default="1.0"/>

  <!-- The talker node will publish a custom message. -->
  <node pkg="charmboy" type="pytalker.py" name="pytalker">
    <param name="rate" value="$(arg rate)"/>
  </node>

  <node pkg="charmboy" type="roboy_face.py" name="roboy_face"></node>
  <node pkg="charmboy" type="roboy_talk.py" name="roboy_talk"></node>

  <!-- Launch requried Roboy nodes -->
<!--  <include file="$(find roboy_face)/launch/roboy_face.launch"/>-->

</launch>
